<div class="leaderboard-page">
    <section class="global-leaderboard-card">
        <h1>Global Leaderboard</h1>
        <section class="inner-global-leaderboard-card">
            
        </section>
    </section>
    <section class="friend-leaderboard-card">
        <h1>Friend Leaderboard</h1>
    </section>
</div>

<script src="/js/leaderboard.js" defer></script>
